.controlBar {
	height: unset !important;
	padding: 0 !important;
	background: none !important;
}

input#scrubber.scrubber {
	cursor: move !important;
}

#statusOverlay.statusOverlay,
#bufferBar {
	background-color: transparent !important;
}

#progressBar {
	display: none !important;
}
