.controlBar {
	height: unset !important;
	padding: 0 !important;
	background: none !important;
}

input#scrubber.scrubber {
	cursor: move !important;
}

#statusOverlay.statusOverlay,
#bufferBar {
	background-color: transparent !important;
}

#progressBar {
	display: none !important;
}

/* .scrubber::-moz-range-thumb {
	color: rgba(128,128,128,0.5)
} */







/* #bufferBar.bufferBar {
	background-color: rgba(0, 0, 0, 0.7);
	background-color: transparent !important;
}

.bufferBar::-moz-progress-bar {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: calc(var(--track-size) / 2);
}

.progressBar::-moz-progress-bar {
	background-color: #00b6f0;
}

.bufferBar::-moz-progress-bar,
.progressBar::-moz-progress-bar {
	height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: calc(var(--track-size) / 2);
	background: none;
}

::-moz-progress-bar {
	display: inline-block !important;
	float: none !important;
	position: static !important;
	overflow: visible !important;
	box-sizing: border-box !important;
	appearance: auto;
	-moz-default-appearance: progresschunk;
	height: 100%;
	width: 100%;
	background-color: #0064b4;
}

.volumeControl::-moz-range-thumb,
.scrubber::-moz-range-thumb {
	height: var(--thumb-size);
	width: var(--thumb-size);
	border: none;
	border-radius: 50%;
	background-color: currentColor;
	filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.65));
}

.volumeControl::-moz-range-thumb,
.scrubber::-moz-range-thumb {
	height: var(--thumb-size);
	width: var(--thumb-size);
	border: none;
	border-radius: 50%;
	background-color: currentColor;
	filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.65));
} */

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* .videocontrols {
	display: none !important;
} */

/* .controlsSpacerStack {
	pointer-events: none !important;
	display: none !important;
} */

/* .controlBar[hidden] {
	opacity: 1 !important;
	padding: 0 !important;
}

.controlBar[hidden] .scrubberStack {
	margin: 0 !important;
}

.controlBar[hidden] :is(.playButton,
	.positionDurationBox, .muteButton, .volumeStack, .castingButton, .closedCaptionButton, .fullscreenButton, .scrubber) {
	display: none !important;
}

.controlBar[hidden] .progressBar {
	display: block !important;
}

.controlBar[hidden] ::-moz-progress-bar {
	border-radius: 0px !important;
}

.controlBar[hidden] .progressBackgroundBar {
	justify-content: end !important;
}

.controlBar[hidden] .progressStack {
	height: 8px !important;
} */